.paragraph {
    font-family: 'Rubik', 'monospace';
}

.list {
    font-family: 'Rubik', 'monospace';
}

h3 {
    font-family: 'Rubik', 'monospace';
}

.question {
    font-family: 'Rubik', 'monospace';
    font-size: large;
}